body {
    background: #f1f1f1;
}

.warp {
    .warp-login {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: .666667rem;
        background: #fff;
        line-height: .666667rem;
        font-size: .173333rem;
        color: black;
        text-align: center;
        z-index: 100;
        border: .013333rem solid #ccc;
    }
    .warp-header {
        position: relative;
        top: .666667rem;
        height: 1.2rem;
        border-bottom: .013333rem solid #ccc;
        ;
        background: #fff;
        li {
            width: 20%;
            float: left;
            height: 1.2rem;
            padding: .186667rem 0 .186667rem;
            text-align: center;
            font-size: .16rem;
            a {
                display: inline-block;
                width: .533333rem;
                height: .426667rem;
                color: #808080;
                img {
                    width: .533333rem;
                    height: .426667rem;
                    margin-bottom: .08rem;
                }
            }
        }
    }
    .titel {
        position: relative;
        top: .08rem;
        padding-bottom:1.666667rem;
        
        .titel-in {
            top: .773333rem;
            position: relative;
            padding: 2.6% 2.6% 0 2.6%;
            box-sizing: border-box;
            width: 100%;
            background: #fff;
            a {
                width: 100%;
                height: 2.773333rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .tit1 {
                height: .48rem;
                font-size: .24rem;
                font-weight: 450;
                padding-top: .186667rem;
            }
            .tit2 {
                height: .346667rem;
                font-size: .186667rem;
                padding-top: .133333rem;
                color: #808080;
                margin-bottom: .213333rem;
            }
            .time {
                height: .76rem;
                line-height: .76rem;
                font-size: .173333rem;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                margin-bottom: 10px;
                div {
                    float: left;
                    position: relative;
                    padding-left: 40px;
                    img {
                        position: absolute;
                        top: .133333rem;
                        left: 0;
                        width: .453333rem;
                        height: .453333rem;
                        line-height: .76rem;
                    }
                }
                p {
                    float: right;
                }
            }
        }
    }
}